@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos ao CRUD da Érica</h1>
     <ul>
         <br>
        <li> Aqui você poderá criar o cadastro dos alunos da sua escola</li>
        <li> Incluir nome </li>
        <li> Incluir Data de Nascimento </li>
        <li> Incluir Telefone </li>
        <li> Incluir E-mail </li>
    </ul>
</div>
</div>
